<div class="form-profile">
	<div>
		<h2>Nouveau profil</h2>
	</div>
	<div class="form-inputs">
		<%= simple_form_for @doctor do |f| %>
	    <%= f.error_notification %>
			<%= f.input :first_name %>
			<%= f.input :last_name, as: :string %>
			<%= f.input :address, as: :string %>			
			<%= f.input :speciality, as: :string %>			
			<%= f.input :phone, as: :integer %>			
			<%= f.input :rpps, as: :integer %>			
			<%= f.input :am, as: :integer %>	
		<div class="form-actions">
			<%= f.button :submit, "Créer mon compte" %>
		</div>
		<% end %>
	</div>
</div>
